<?xml version="1.0" encoding="utf-8"?>
<ApplicationInsights xmlns="http://schemas.microsoft.com/ApplicationInsights/2013/Settings">
  <!-- This key is for Application Insights resource 'colourthemebuilder' in resource group 'Default-ApplicationInsights-CentralUS' -->
  <InstrumentationKey>34dc1da0-a7f3-44de-8584-f9f558ad84a7</InstrumentationKey>
</ApplicationInsights>